*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Images/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Rochester', cursive;
    height: 1000px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

.home{
    
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.objetos{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 64px;
    text-align: center;
}

.objetos h1{
    font-weight: 200;
}

.objetos a{
    margin-top: 50px;
}

.objetos a img{
    width: 350px;
}
