*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/Images/fundo.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    font-family: 'Rochester', cursive;
    height: 2500px;
}

.desejos{

    height: 800px;

    display: flex;
    align-items: center;
    justify-content: center;   
    
}



.genio img{
    
    width: 350px;
}

.escrever{
    width: 900px;
    height: 900px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.percaminho{
    background-image: url(/Images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 450px;
    height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
}

.percaminho p{
    width: 450px;
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    
    margin-top: 50px;
    
}

.campo{
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /*margin-top: px;*/
    
}


.desejo{
    height: 150px;
    width: 250px;
    
    font-size: 20px;

    resize: none;
}


.botao{
    height: 50px;
    width: 150px;

    font-family: 'Rochester', cursive;
    font-size: 20px;
    font-weight: bold;

    background-image: linear-gradient(140deg, #FFE383, #77300A);
    border-radius: 10px;   
}

.divisao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista{
    display: flex;
    justify-content: center;
    background-color: ivory;
}

.listas{
    height: 400px;
    width: 1500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: lawngreen;
}

.titulo{
    height: 100px;
    width: 1000px;

    display: flex;
    justify-content: center;

    background-color: lightcyan;
}

.titulo h2{
    font-size: 60px;
}


.login{
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    
    
}

.login h2{
    height: 100px;
    width: 500px;

    font-size: 70px;
    text-align: center;
    font-weight: 200;
}

.email2{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.senha{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.listagem{
    height: 100%;
    width: 1500px;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightcoral;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 150px;

}

.dadosNome{
    background-image: url(/Images/fundo-abstrato-bege-material-grunge-marrom-papel-velho_213524-129.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 1100px;
    height: 60px;

    display: flex;
    justify-content: space-around;

    font-size: 40px;
}

.dados{
    background-image: url(/Images/fundo-abstrato-bege-material-grunge-marrom-papel-velho_213524-129.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 1100px;
    height: 60px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    

    font-size: 40px;
}

